<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Customer ID</th>
        <th>Customer identifier</th>
        <th>Provider name</th>
        <th>Status</th>
        <th>Accounts</th>
        <th>Transactions</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @connections.each do |connection| %>
        <tr>
          <td><%= connection.id %></td>

          <td><%= connection.customer.id %></td>

          <td><%= connection.customer.identifier %></td>

          <td><%= connection.provider_name %></td>

          <td><%= connection.status %></td>

          <td>
            <%=
              link_to connection.accounts.count,
                      connection_accounts_path(connection)
            %>
          </td>

          <td><%= connection.transactions.count %></td>

          <td>
            <%=
              link_to "Reconnect",
                      connect_sessions_reconnect_path(connection_id: connection.id),
                      target: '_blank'
            %>
          </td>

          <td>
            <%=
              link_to "Refresh",
                      connections_refresh_path(connection)
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
